-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateTable
CREATE TABLE "Clubs" (
    "name" CHAR NOT NULL,
    "city" CHAR NOT NULL,
    "country" CHAR NOT NULL,
    "league" CHAR NOT NULL,
    "founded_year" INTEGER NOT NULL,
    "colors" CHAR[],
    "deleted_at" DATE,
    "id" SERIAL NOT NULL,

    CONSTRAINT "Clubs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Players" (
    "id" SERIAL NOT NULL,
    "name" CHAR NOT NULL,
    "position" CHAR NOT NULL,
    "number" INTEGER NOT NULL,
    "birthday" DATE NOT NULL,
    "country" CHAR NOT NULL,
    "deleted_at" DATE,
    "club_id" INTEGER NOT NULL,

    CONSTRAINT "Players_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE INDEX "fki_club_player" ON "Players"("club_id");

-- AddForeignKey
ALTER TABLE "Players" ADD CONSTRAINT "club_player" FOREIGN KEY ("club_id") REFERENCES "Clubs"("id") ON DELETE CASCADE ON UPDATE CASCADE;

